streamlit
openai
langchain
pinecone-client
langchain-community
langchain-core
langchain-openai
langchain-pinecone
elevenlabs
replicate
langchain-anthropic

#torch
#accelerate
#sentence_transformers
#streamlit_chat
#tiktoken
#ctransformers
#huggingface-hub
#pypdf
#python-dotenv
#langsmith==0.0.87
#pypickle
#tiktoken==0.5.2
#datasets==2.10.1
#altair
#pandas
